__pycache__/
.vscode/settings.json
*.o
*.so
*.0
*.a
*.pc
*.ll
*.pcap
*.json
*.txt
xdp/libbpf/src/build
xdp/loader/xdp_stats
xdp/loader/xdp_loader
xdp/nat64/xdp_stats
xdp/nat64/xdp_loader
xdp/nat64/xdp_prog_user
pcap/
202*/
